.track-search-container {
	position: relative;
	top: 30px;
}

.track-search-container input {
	background: #fff;
	width: 500px;
	height: 40px;
	border-radius: 20px;
	border: none;
  	font-family: 'Proxima Nova', Georgia, sans-serif;
	padding: 4px 4px 4px 10px;
	outline: none;
}

.search {
	margin-left: 5px;
	cursor: pointer;
	cursor: pointer;
  	color: white;
 	font-size: 15px;
}

button {
	background: none;
	border: none;
	outline: none;
}

.musicContainer{
	
		max-width: 100%;
		margin: 10px;
		display: flex;
		flex-wrap: wrap;
	
}

.MusicExternalCard{
    margin: 10px;
}

.MusicCard{
    background-color: tomato;
    text-align: center;
}
