.Headers h1{
    margin-left: 20px;
    font-size: 28px;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: -.36px;
    display: inline;
    white-space: nowrap;
}

.MusicBox{
    max-width: 100%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.MusicExternalCard{
    margin: 10px;
}

.MusicCard{
    background-color: tomato;
    text-align: center;
}
